In [1]:
#swap two variables
x=int(input("enter 1st no."))
y=int(input("enter 2nd no."))
x=x+y
y=x-y
x=x-y
print(x)
print(y)

enter 1st no.2
enter 2nd no.3
3
2

In [23]:
#number odd or even
x=int(input("enter a no."))
if x%2==0:
    print("number is even")
else:
    print("number is odd")

enter a no.7
number is odd

In [3]:
#sqrt of a number
x=int(input("enter a no."))
y=x**(1/2)
print("the sq. root of",x,"is",y)

enter a no.9
the sq. root of 9 is 3.0

In [4]:
#natural numbers from 1 to n
n=int(input("enter ending no."))
print("the natural numbers are:")
for i in range(1,n+1):
    print(i)

enter ending no.8
the natural numbers are:
1
2
3
4
5
6
7
8

In [5]:
#odd and even numbers between 1 to 100
print("even no.s are:")
for i in range(1,101):
    if i%2==0:
        print(i,end=" ")
print()        
print("odd no.s are:")        
for i in range(1,101):
    if i%2!=0:
        print(i,end=" ")

even no.s are:
2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100
odd no.s are:
1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

In [6]:
#no. of digits in a number
x=int(input("enter a number"))
c=0
while x>0:
    x=x//10
    c+=1
print("the no. of digits are:",c)

enter a number456
the no. of digits are: 3

In [7]:
# prime or not
x=int(input("enter a no."))
for i in range(2,x):
    if x%i==0:
        print("no. is not prime")
        break
else:
    print("no. is prime")

enter a no.7
no. is prime

In [19]:
#multiples of 3 or 5 considered in the sum
x=int(input("enter ending no."))
s=0
for i in range(1,x+1):
    if i%3==0 or i%5==0:
        s=s+i
print("the sum is:",s)

enter ending no.5
the sum is: 8

In [20]:
#product or sum
try:
    a=1
    s=0
    n=int(input("enter a no."))
    y=int(input("enter 1 for product and 2 for sum"))    
    if y==1:
        for i in range(1,n+1):       
            a=a*i
        print("the product is:",a)
    if y==2:
        for i in range(1,n+1):
            s=s+i
        print("the sum is :",s)
except ValueError:
    print("invalid input")

enter a no.5
enter 1 for product and 2 for sum1
the product is: 120

In [21]:
#sum of multiples of 3 or 5 below 1000
s=0
for i in range(1,1001):
    if i%3==0 or i%5==0:
        s=s+i

print("the sum is:",s)

the sum is: 234168

In [22]:
#divisible by 7 not a multiple of 5
for i in range(2000,3201):
    if i%7==0 and i%5!=0:
        print(i)

2002
2009
2016
2023
2037
2044
2051
2058
2072
2079
2086
2093
2107
2114
2121
2128
2142
2149
2156
2163
2177
2184
2191
2198
2212
2219
2226
2233
2247
2254
2261
2268
2282
2289
2296
2303
2317
2324
2331
2338
2352
2359
2366
2373
2387
2394
2401
2408
2422
2429
2436
2443
2457
2464
2471
2478
2492
2499
2506
2513
2527
2534
2541
2548
2562
2569
2576
2583
2597
2604
2611
2618
2632
2639
2646
2653
2667
2674
2681
2688
2702
2709
2716
2723
2737
2744
2751
2758
2772
2779
2786
2793
2807
2814
2821
2828
2842
2849
2856
2863
2877
2884
2891
2898
2912
2919
2926
2933
2947
2954
2961
2968
2982
2989
2996
3003
3017
3024
3031
3038
3052
3059
3066
3073
3087
3094
3101
3108
3122
3129
3136
3143
3157
3164
3171
3178
3192
3199

In [26]:
#difference between sum of squares and square of sum
s=0
a=0
for i in range(1,101):
    s=s+(i**2)
    a=a+i
y=s-(a**2)
print("the difference is:",y)

the difference is: -25164150

In [28]:
#prime numbers till n
n=int(input("last no."))
for i in range(2,n+1):
    for a in range(2,i//2+1):
        if i%a==0:
            break
    else:
        print(i,end=" ")

last no.17
2 3 5 7 11 13 17

In [29]:
#factorial of a number
def factorial(a):
    if (a==0):
        return 1
    else:
        return a*factorial(a-1)
a=int(input("enter a no."))
m=factorial(a)
print(m)

enter a no.5
120

In [31]:
#fibonacci series
p=0
a=1
n=int(input("enter a no."))
for i in range(n):
    print(a,end=" ")
    p,a=a,p+a

enter a no.6
1 1 2 3 5 8

In [32]:
#lcm of a number
n=int(input("enter 1st no."))
v=int(input("enter 2nd no."))
l=n*v
for a in range(1,l+1):
    if (a%n==0)and(a%v==0):
        break
print("the lcm is ",a)

enter 1st no.5
enter 2nd no.7
the lcm is  35

In [33]:
#factors of a number
n=int(input("enter a no."))
print("the factors are:",end=" ")
for i in range(1,n+1):
    if n%i==0:
        print(i,end=" ")

enter a no.26
the factors are: 1 2 13 26

In [34]:
#pattern 1
for i in range(7):
    print("*"*(7-i)+" "*i)

*******
******
*****
****
***
**
*

In [35]:
#pattern 2
for i in range(5):
    print("*"*(i+1))

*
**
***
****
*****

In [36]:
#pattern 3
for i in range(5):
    print(" "*(5-(i+1))+"*"*(i+1))

    *
   **
  ***
 ****
*****

In [37]:
#pattern 4
for i in range(5):
    for j in range(i+1):
        print(i+1,end=" ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [38]:
#pattern 5
m=1
for i in range(4):
    for j in range(i+1):
        print(m,end=" ")
        m=m+1
    print()

1
2 3
4 5 6
7 8 9 10

In [46]:
#pattern 6
for i in range(5):
    print(" "*(5-(i+1))+" *"*(i+1))

     *
    * *
   * * *
  * * * *
 * * * * *